extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row m-1")
        - let items = results 
            //- let results = [
            //-     {
            //-     "house_zone" : "Residential",
            //-     "house_plan" : "Single-Bed",
            //-     "house_cost" : 150000
            //-     },
            //-     {
            //-     "house_zone" : "Apartment",
            //-     "house_plan" : "double-Bed",
            //-     "house_cost" : 130000
            //-     },
            
                
            //-     {
            //-     "house_zone" : "Apartment",
            //-     "house_plan" : "Single-Bed",
            //-     "house_cost" : 100000
            //-     },

            //- ]
        each item  ,index in results
            
            - let destination = `dispatch(\"/housing/update?id=${item._id}\")` 
            - let destination1 = `dispatch(\"/housing/create\")`
            - let destination2 = `dispatch(\"/housing/detail?id=${item._id}\")`
            - let destination3 = `dispatch(\"/housing/delete?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") House Zone:  #{item.house_zone}with House Plan: (#{item.house_plan}) is #{item.house_cost}
              button.btn( class="btn-primary ml-1", onclick= destination, style = "margin: 6px;") Update
              button.btn( class="btn-primary ml-1", onclick= destination1, style = "margin: 6px;") Create
              button.btn( class="btn-primary ml-1", onclick= destination2, style = "margin: 6px;") Detail
              button.btn( class="btn-primary ml-1", onclick= destination3, style = "margin: 6px;") Delete  

            //- div(class="col-sm-2" onclick=`buy(${index})`) #{h.house_zone}<br><br>
            //- div(class="col-sm-2" onclick=`buy(${index})`) #{h.house_plan}<br><br>
            //- div(class="col-sm-2" onclick=`buy(${index})`) #{h.house_cost}

            script.                
                      function buy(itemNum)
                      {
                            alert(`You purchased item ${itemNum+1}`)
                            
                      }
                      function dispatch(path){ 
                            window.location.href=path 
                      } 